body {
	/*background: linear-gradient(to right, RoyalBlue, DodgerBlue);*/
	background-image: url('cs2.jpg');
	background-size: cover;
	font-size: 100%;
}
#msg2 {
	color: peru;
	font-family: Cursive;
}
.form-container{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}
Form {
	width: 50%;
}

table {
    width: 100%;
    border-collapse: collapse;
	color: white;
	font-size: 120%;
}
td {
    border: 0px solid #ddd; /* Add borders to cells */
    padding: 8px; /* Add padding to cells */
    text-align: left; /* Adjust text alignment */
}

th {
    background-color: #4CAF50; /* Set background color for header cells */
    color: white; /* Set text color for header cells */
}